
 @using DT_PODSystem.Helpers
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    var username = "Guest";
    var avatar = "<i class='fa fa-user'></i>";
    if (User.Identity.IsAuthenticated)
    {
        username = Util.GetCurrentUser().FullName;


        if (Util.GetCurrentUser().Photo != null)
        {
            string imageSrc = $"data:image/jpeg;base64,{Util.GetCurrentUser().Photo_base64}";
            avatar = "<img style='width:100%;height:100%;object-fit:cover;margin:auto;' src='" + @imageSrc + "' />";
        }


    }


}
<!-- BEGIN #header -->
<div id="header" class="app-header" @(ViewData["AppHeaderInverse"] != null ? " data-bs-theme=dark" : "")>
    <!-- BEGIN navbar-header -->
    <div class="navbar-header">
        @if (ViewData["AppSidebarNone"] == null)
        {
            <button type="button" class="navbar-desktop-toggler" data-toggle="app-sidebar-minify">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
                <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        }
        <a href="/" class="navbar-brand">
            <svg width="66" height="28" viewBox="0 0 66 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M31.625 6.80851L31.6213 0.00567279L24.7511 0L24.75 6.79666L31.625 6.80851ZM5.88232 23.0513L0 24.2653C0.424529 29.3706 6.18066 32.1214 11.3441 31.9959C14.2329 31.9257 16.8607 30.9901 18.5472 29.6392C22.4356 26.5245 22.4103 20.0758 17.2744 17.3711C15.3452 16.3551 13.2453 15.9901 11.4475 15.6777C9.10574 15.2707 7.27666 14.9528 7.00534 13.4013C6.4686 10.332 12.5096 9.46738 14.5772 12.2286C14.8637 12.6112 14.954 12.903 15.0505 13.2152L15.0505 13.2152C15.114 13.4203 15.1801 13.6342 15.3064 13.8884L20.889 12.6335C20.9094 12.6247 20.9455 12.6077 20.9725 12.5925C20.6349 7.68784 14.5151 5.00625 9.32399 5.5062C-0.27525 6.43076 -2.55039 16.9042 5.58028 20.2095C6.79516 20.7033 8.15129 20.9902 9.48385 21.2722C10.7248 21.5347 11.9453 21.793 13.0123 22.21C15.9184 23.3457 15.0929 26.4741 11.6771 26.7789C8.56398 27.0567 6.23313 25.7203 5.88232 23.0513ZM66 23.5042L59.9776 21.5819C59.8074 21.8761 59.6967 22.1399 59.5911 22.3913C59.4397 22.7522 59.2989 23.0876 59.0079 23.451C58.5671 24.0016 58.1301 24.4609 57.4746 24.8733C56.2011 25.6745 54.3913 26.0052 52.5943 25.6296C49.5135 24.9858 47.5738 22.504 47.4893 18.9828C47.4011 15.3106 49.2053 12.6962 52.1919 11.9434C56.004 10.9825 58.8882 12.9476 59.6362 15.8925L65.8508 13.9081C65.2461 10.9173 62.8376 8.44026 60.8112 7.24677C52.9767 2.63234 40.5366 7.03787 40.5625 18.7666C40.5881 30.3289 53.233 34.8158 60.8587 30.2249C62.1039 29.4752 63.2247 28.4579 64.0145 27.4692C64.723 26.5823 65.7798 24.9372 66 23.5042ZM24.8097 12.9397L31.6484 12.9362C31.6463 13.2625 31.6421 13.7315 31.6371 14.2928L31.637 14.3022L31.637 14.3033L31.637 14.3036L31.637 14.304C31.6122 17.0787 31.5674 22.0894 31.6626 23.2768C31.7957 24.9371 32.571 25.7899 34.2386 26.0043C35.9984 26.2305 36.9321 25.8072 38.115 25.2708L38.1151 25.2708C38.2402 25.2141 38.3681 25.1561 38.5 25.0975L38.4566 30.5261C35.605 32.6136 28.5618 32.8937 25.8963 28.6417C24.7526 26.8176 24.7717 24.551 24.7916 22.1906L24.7916 22.19C24.7942 21.8817 24.7968 21.5719 24.7968 21.2612C24.7969 20.3989 24.7853 19.5126 24.7737 18.6184V18.6183V18.6183V18.6182V18.6182C24.7489 16.7095 24.7236 14.7647 24.8097 12.9397ZM38.5 12.9362L31.625 12.935L31.6257 6.12766L38.4997 6.13078L38.5 12.9362Z" fill="#FFF"></path></svg>
            <b class="stc-ops">SEA</b>
        </a>
    </div>
    <!-- END navbar-header -->
    <!-- BEGIN header-nav -->
    <div class="navbar-nav">
        <div class="navbar-item">
            <a href="#" data-toggle="app-header-floating-form" class="navbar-link icon">
                <i class="material-icons">search</i>
            </a>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="navbar-item dropdown">
                <a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle icon">
                <i class="material-icons">inbox</i>
                <span class="badge">0</span>
            </a>
            <div class="dropdown-menu media-list dropdown-menu-end">
                <div class="dropdown-header">NOTIFICATIONS (0)</div>
                <div class="text-center w-300px py-3">
                    No notification found
                </div>
            </div>
        </div>
        }
        <div class="navbar-item navbar-user dropdown">
            <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                <span class="d-none d-md-inline">Hi, @username</span>
                <div class="image image-icon bg-gray-100 text-gray-600">
                    @Html.Raw(avatar)
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-1">
                @if(User.Identity.IsAuthenticated)
                {
                    <a href="javascript:;" class="dropdown-item">Edit Profile</a>
                    <a href="javascript:;" class="dropdown-item d-flex align-items-center">
                        Inbox
                        <span class="badge bg-danger rounded-pill ms-auto pb-4px">2</span>
                    </a>
                    <a href="javascript:;" class="dropdown-item">Calendar</a>
                    <a href="javascript:;" class="dropdown-item">Setting</a>
                    <div class="dropdown-divider"></div>
                    <a asp-area="Security" asp-controller="Account" asp-action="Logout" class="dropdown-item">Log Out</a>
                }
                else
                {
                    <a asp-area="Security" asp-controller="Account" asp-action="Login" class="dropdown-item">Log In</a>
                }
            </div>
        </div>
    </div>
    <!-- END header navigation right -->

    <div class="navbar-floating-form">
        <button class="search-btn" type="submit"><i class="material-icons">search</i></button>
        <input type="text" class="form-control" placeholder="Search Something..." />
        <a href="#" class="close" data-dismiss="app-header-floating-form"><i class="material-icons">close</i></a>
    </div>
</div>
<!-- END #header -->
